@import '../../styles/settings.scss';

.nav {
  background-color:#222630;
}

.navIns {
  display: flex;
  justify-content: space-between;
}

i {
  padding: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
  display: inline;
  padding: 15px;
}

.linkActive {
  color: $color-warning;
}